Makefile
.idea/
__pycache__
*.pyc
.idea/
.env
*.json
*.csv
*.xls*
*.txt
*.html
*.png
*.log
proxy.py
build/
dist/
eggs/
pdfs/
diplomaticpulse.egg-info/
data/
run_locally.sh
run_scrapyd_local.sh
test-reports/
env_variables.sh
.black8
