
beautifulsoup4==4.8.0
black==22.1.0
docx2txt==0.8
langid==1.1.6
lxml==4.7.1
mypy==0.931
mypy-extensions==0.4.3
pep8==1.7.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyparsing==3.0.7
pytest==7.0.0
scrapy-selenium==0.0.7
types-dateparser==1.0.14
types-python-dateutil==2.8.9
types-requests==2.27.9
types-six==1.16.10
types-urllib3==1.26.9
typing==3.7.4.3
typing_extensions==4.0.1
unittest-xml-reporting==2.2.0
Scrapy==2.0.0
scrapyd-client==1.1
python-dateutil==2.8.1
textract==1.6.3
elasticsearch-dsl==7.1
bump2version==1.0.1
elasticsearch==7.1
enum34==1.1.3
pycparser==2.14
queuelib==1.4.2
six==1.12.0
Twisted==19.10.0
urllib3==1.24.3
w3lib==1.21
PyPDF2==1.26.0
tika==1.24
python-scrapyd-api
scrapy-rotating-proxies
schedule==1.1.0
datefinder==0.7.1
scrapy-splash==0.7.2
dateparser==1.0.0
textblob==0.15.3
pycountry==20.7.3
python-dotenv==0.9.1
bs4==0.0.1
langid==1.1.6
selenium==3.141.0
scrapy_selenium==0.0.7
pandas==1.1.5
openpyxl
fitz==0.0.1.dev2
PyMuPDF==1.18.17
pytesseract==0.3.8
unittest-xml-reporting==2.2.0
pylint==2.12.2
pytest-cov==3.0.0
